import requests
from bs4 import BeautifulSoup
url ='https://developer.apple.com/videos/wwdc/2015/'
source_code = requests.get(url)
plain_text=source_code.text
soup = BeautifulSoup(plain_text)
for link in soup.find_all('a',):
    href = 'https://developer.apple.com/videos/wwdc/2015/' + link.get('href')
    title= link.string
    print(href)
    print(title)
